<!DOCTYPE html>
<html>
  <head>
    <title>MENU MANAGEMENT</title>
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>MENU MANAGEMENT</h1>
    <hr>
    <h1>
        <button><a href="/">HOME</a></button>
    </h1>
    <hr>
    <form action="/search" method="get">
        <input type="text" name="menu_name" placeholder="INSERT MENU NAME" required>
        <button type="submit">SEARCH</button>
        <button><a href="/menu">ALL</a></button>
    </form>
    <hr>
    <!-- 메뉴 추가 폼 -->
    <form action="/admin/menu" method="POST">
      <input type="text" name="menu_name" placeholder="MENU NAME" required>
      <input type="number" name="menu_price" placeholder="MENU PRICE" required>
      <input type="text" name="menu_category" placeholder="MENU CATEGORY" required>
      <button type="submit">ADD</button>
    </form>
    <hr>
    <table>
        <thead>
            <tr>
                <th>MENU</th>
                <th>PRICE</th>
                <th>CATEGORY</th>
                <th>INGREDIENTS</th>
                <th>REPRESENTATIVE</th>
                <th>RECOMMEND</th>
                <th>ACTION</th>
            </tr>
        </thead>
        <tbody>
          <% var menu = searchData && searchData.length > 0 ? searchData : data; %>
          <% if (menu.length > 0) { %>
              <% menu.forEach(function(menu) { %>
                  <tr>
                  <td><%= menu.menu_name%></td>
                  <td><%= menu.menu_price%></td>
                  <td><%= menu.menu_category%></td>
                  <td>
                      <ul>
                      <% menu.ingredients.forEach(function(ingredient) { %>
                          <li><%= ingredient.ingredient_name %> (Used: <%= ingredient.ingredient_amount %>g)</li>
                      <% }) %>
                      </ul>
                  </td>
                  <td>
                    <% if (menu.one_menu === 1) { %>
                        <p> O </p>
                    <% } else { %>
                        <p> </p>
                    <% } %>
                  </td>
                  <td>
                    <% if (menu.recommend_menu === 1) { %>
                        <p> O </p>
                    <% } else { %>
                        <p> </p>
                    <% } %>
                  </td>
                  <td>
                      <form action="/admin/menu/<%= menu.menu_id %>" method="POST">
                          <button type="submit">DELETE</button>
                      </form>
                      <form action="/admin/menu/<%= menu.menu_id %>/recommend" method="POST">
                        <button type="submit">SET AS RECOMMEND</button>
                      </form>
                  </td>
                  </tr>
              <% }) %>
          <% } else { %>
              <tr>
                  <td colspan="5">NO RESULT</td>
              </tr>
          <% } %>
      </tbody>
    </table>
    <hr>
    <table>
      <thead>
        <tr>
          <th>INGREDIENTS</th>
          <th>STOCK</th>
        </tr>
      </thead>
      <tbody>
        <% var ingredientsStock = {}; %>
        <% var ingredientsUnit = {}; %>
        <% data.forEach(function(menu) { %>
          <% if (menu.ingredients) { %>
            <% menu.ingredients.forEach(function(ingredient) { %>
              <% if (!ingredientsStock[ingredient.ingredient_name]) { %>
                <% ingredientsStock[ingredient.ingredient_name] = ingredient.ingredient_stock; %>
                <% ingredientsUnit[ingredient.ingredient_name] = ingredient.ingredient_order_unit; %>
              <% } %>
            <% }) %>
          <% } %>
        <% }) %>
        <% for (var ingredient in ingredientsStock) { %>
          <tr>
            <td><%= ingredient %></td>
            <td>
              <ul>
                <li><%= ingredientsStock[ingredient] %>
                  <%= ingredientsUnit[ingredient] %></li>
              </ul>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
